<div class="container my-2 px-0">
        <h1 class="text-center text-decoration-underline">Treasure Hunter Game</h1>
        <!-- PLAYER NAME -->
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" *ngIf="!submitted">
                <div class="row">
                        <div class="col-10 px-0">
                                <input type="text" class="form-control" formControlName="name"
                                        placeholder="Player Name">
                        </div>
                        <div class="col-2">
                                <button type="submit" [disabled]="!userForm.valid"
                                        class="btn btn-primary">Submit</button>
                        </div>
                </div>
        </form>

        <div style="margin-left: -12px;" class="alert alert-success p-2 text-center my-3" role="alert" *ngIf="success">
                <h3>You Win 👍👍👍</h3>
        </div>
        <!-- BOARD -->
        <div class="row my-4" *ngIf="start">
                <div class="col-7 px-0">
                        <div class="board">
                                <button class="btn bg-secondary p-0" *ngFor="let boardBox of boardBoxes"
                                        (click)="show($event)">
                                        <span class="d-none">{{boardBox}}</span>
                                </button>
                        </div>
                </div>
                <div class="col-5 px-0">
                        <app-users [users]="users"></app-users>
                        <router-outlet></router-outlet>
                </div>
        </div>
</div>